<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Reusable Form Demo</title>
    </head>
    <body>
        <form method="POST" action="/form">
            
            <form>
                username:<br>
                <input type="text" name="username"><br>
                password:<br>
                <input type="text" name="password">
                <input type="submit" value="submit">
              </form>
        
              </form> 
               
            </div>
        </form>
    </body>
</html>